.App {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#taskInput {
   height: 2rem;
   width: 12rem;
   margin: 0.7rem;
}
.btnAdd {
  height: 2rem;
  border-radius: 5px;
}